.search-container{
    background-color: rgba(22, 20, 20, 0.842);
    text-align: center;
    line-height: 40px;
}
.search-container input{
    width: 55%;
    font-size: 18px;
    border: 2px solid rgb(43, 10, 10);
    border-radius: 5px;
}
.product-count{
    display: inline-block;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 2px solid lightgray;
    margin-left: 50px;
}
.cart-container{
    margin-left: 12px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}
.cart-container .top-title{
    text-align: center;
}
.pagination{
    margin: 40px;
}
.pagination button{
    margin: 0 5px;
    padding: 5px 15px;
    background-color: rgb(235, 203, 24);
    border: 1.5px solid lightgray;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
.pagination .selected{
    background-color: rgb(36, 34, 34);
    color: white;
}
