.product{
    display: flex;
    border-bottom: 2px solid rgba(211, 211, 211, 0.678);
    margin-right: 7px;
    padding-bottom: 8px;
}
img{
    width: 320px;
}
.product-info{
    margin-left: 20px;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-title{
    color: rgb(7, 7, 134);
    font-weight: 500;
}
.price{
    display: inline-block;
    margin-right: 30px;
}
.add-to-cart-btn{
    background-color: rgb(235, 203, 24);
    border: 1.5px solid lightgray;
    border-radius: 5px;
    font-weight: 700;
    height: 35px;
    width: 200px;
    cursor: pointer;
}
.add-to-cart-btn:hover{
    background-color: rgb(238, 234, 18);
}
.rating-color-full{
    color: rgb(255, 166, 0);
}
.rating-color-empty{
    color: rgb(204, 204, 204);
}